.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70vh;
}

.slider-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
