/* components/ImageSlider.css */
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vh; /* Adjust to desired height */
}

.slider-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the entire image is visible without cropping */
  display: block;
}
